.header-cont {
	width: 100%;
	border-bottom: 20px solid #B9E937;
	border-radius: 0 0 15px 15px;
	padding: 15px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-cont-img {
	width: 50px;
}
.list-ul {
	list-style-type: none;
	display: flex;
	width: 40%;
	justify-content: space-between;
}
.list-li {
	text-decoration: none;
	color: #000000;
}
.list-li:hover {
	border-bottom: 2px solid black;
}
.header-btn-signin {
	padding: 10px 30px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: transparent;
	font-size: 16px;
	transition: .3s;
}
.header-btn-signin:hover {
	background-color: #000000;
	color: #FFFFFF;
	cursor: pointer;
}

@media (max-width: 480px) {
  .header-cont {
		box-sizing: border-box;
		padding: 20px;
	}
	.list-ul {
		display: none;
	}
}