.exit-btn {
	width: fit-content;
	cursor: pointer;
	margin-bottom: 50px;
}
.ol-links {
	list-style-type: none;
	padding: 0;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 120px;
}
.name {
	font-size: 24px;
}
.links {
	text-decoration: none;
	color: #000000;
	font-size: 18px;
}
.orange {
	color: #F3A73A;
}
.inp-for-chat {
	width: 75%;
}
.btn-for-chat {
	margin-left: 5px;
	width: 20%;
	padding: 7px 4%;
}
.for-message {
	width: fit-content;
	background-color: white;
	padding: 12px;
	border-radius: 12px 12px 12px 0;
	border: 1px solid gray;
}